{% extends 'base.html' %}   
{% block title %}Register page{% endblock title %}
{% block content %}
    {% comment %} <h1>Welcome to register page</h1>
    <p>Please, sing up using the following form:</p>
    <form action="" method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <p><input class="btn success" type="submit" value="Create my account"></p>
    </form> {% endcomment %}
    <div class="flex justify-center">
        <form action="" method="POST" class="mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="text-center mb-4">
                <p class="text-center"><strong class="text-xl">Bienvenido a la página de registro</strong></p>
            </div>
            {{ form.as_p }}
            {% csrf_token %}
            <p class="text-center my-4"><input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Crear cuenta"></p>
        </form>
    </div>
{% endblock content %}