{% extends 'base.html' %}


{% block content %}
    <div class="card-product detail">
        <img src="{{ producto.imagen_producto.url }}">
        <h2 class="color-blue">Nombre del producto: {{object.name_product}}</h2>
        <p>Cantidad disponible: {{object.stock}}</p>
        <p>Precio: {{object.precio}}</p>
        <p>Marca: {{object.marca}}</p>
        <p>Categoría: {{object.categoria}}</p>
        <p>Fecha de vencimiento: {{object.fecha_vencimiento}}</p>
        
        <br>
        {% comment %} <h3>Añadir al carrito</h3>
        <form action="{% url 'sale:add_car' %}" method="post">
            <input type="hidden" name="id_product" value="{{ object.id }}">
            {{form.as_p}}
            {% csrf_token %}
            <button class="btn primary" type="submit">Agregar al carrito</button>
    </form> {% endcomment %}
    </div>

    <a href="{% url 'producto:index' %}">Cancelar</a>
{% endblock content %}
    