{% extends 'base.html' %}


{% block content %}
<div class="text-center mt-8 mb-6">
    <p class="text-center"><strong class="text-xl">Detalle del producto</strong></p>
</div>
<div class="flex justify-center">
    <div class="flex flex-row mb-8 bg-white shadow-md rounded px-8 py-8">
        <img src="{{ producto.imagen_producto.url }}">
        <div>
            <strong class="color-blue">Nombre del producto: </strong>
            <p>{{object.nombre_producto}}</p>
            <strong>Cantidad disponible: </strong>
            <p>{{object.stock}}</p>
            <strong>Precio: </strong>
            <p>{{object.precio}}</p>
            <strong>Marca: </strong>
            <p>{{object.marca}}</p>
            <strong>Categoría: </strong>
            <p>{{object.categoria}}</p>
            <strong>Fecha de vencimiento: </strong>
            <p>{{object.fecha_vencimiento}}</p>
            <br>
            <form action="#{% comment %} {% url 'sale:add_car' %} {% endcomment %}" method="post">
                <input type="hidden" name="id_product" value="{{ object.id }}">
                {{form.as_p}}
                {% csrf_token %}
                <div>
                    <a href="{% url 'producto:index' %}" type="button" class="bg-red-400 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Cancelar</a>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Agregar al carrito</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    